version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    command: ["--bind_ip_all"]

  fastapi:
    build: .
    container_name: fastapi
    env_file:
      - .env
    ports:
      - "8000:8000"
    environment:
      MONGO_DSN: ${MONGO_DSN}
      ADMIN_TOKEN: ${ADMIN_TOKEN}
      ALGORITHM: ${ALGORITHM}
      SECRET_KEY: ${SECRET_KEY}
      SECURITY_KEY_USER: ${SECURITY_KEY_USER}
      ACCESS_TOKEN_EXPIRE_MINUTES: ${ACCESS_TOKEN_EXPIRE_MINUTES}
      ACCESS_TOKEN_EXPIRE_MINUTES_REDIS: ${ACCESS_TOKEN_EXPIRE_MINUTES_REDIS}
      ENVIRONMENT: ${ENVIRONMENT}
      GIGACHAT_CA_CERT: /certs/russian_trusted_root_ca_pem.crt   # <-- ДОБАВИТЬ ЭТО
    depends_on:
      - mongo
    restart: unless-stopped

volumes:
  mongo_data:
